<?xml version="1.0" encoding="UTF-8"?>

<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
	  <display-name>CurseRegistration</display-name>
	  <welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	  </welcome-file-list>
	  <servlet>
	    <description></description>
	    <display-name>registratonServlet</display-name>
	    <servlet-name>registratonServlet</servlet-name>
	    <servlet-class>com.WebTech.registration.registratonServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>registratonServlet</servlet-name>
	    <url-pattern>/registratonServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>RegistrationServlet</display-name>
	    <servlet-name>RegistrationServlet</servlet-name>
	    <servlet-class>com.WebTech.registration.RegistrationServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>RegistrationServlet</servlet-name>
	    <url-pattern>/RegistrationServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>LoginAdmin</display-name>
	    <servlet-name>LoginAdmin</servlet-name>
	    <servlet-class>com.WebTech.registration.LoginAdmin</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>LoginAdmin</servlet-name>
	    <url-pattern>/LoginAdmin</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>Logout</display-name>
	    <servlet-name>Logout</servlet-name>
	    <servlet-class>com.WebTech.registration.Logout</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Logout</servlet-name>
	    <url-pattern>/Logout</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>LoginStudent</display-name>
	    <servlet-name>LoginStudent</servlet-name>
	    <servlet-class>com.WebTech.registration.LoginStudent</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>LoginStudent</servlet-name>
	    <url-pattern>/LoginStudent</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <description></description>
	    <display-name>LoginTeacher</display-name>
	    <servlet-name>LoginTeacher</servlet-name>
	    <servlet-class>com.WebTech.registration.LoginTeacher</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>LoginTeacher</servlet-name>
	    <url-pattern>/LoginTeacher</url-pattern>
	  </servlet-mapping>
	</web-app>
</element>